<!DOCTYPE html>
<html>
 
<head>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

  <!-- Bootstrap CDN-->
  <link id="myStyle" rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">
 

  <!-- Firebase Reference -->
  <script src="https://www.gstatic.com/firebasejs/3.7.2/firebase.js"></script>
    <title>Passport with Sequelize</title>
</head>
 
<body>
<div class = "container">
    <h1>Dashboard</h1>
    <h3>Hurray! you are logged in.</h3>
    </div>
 
</body>
 
</html>